.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

.footer p {
    margin: 0;
    color: whitesmoke;
}

.footer nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

.footer nav ul li {
    display: inline;
    margin: 0 10px;
}

.footer nav ul li a {
    text-decoration: none;
    color: #007bff;
}

.footer nav ul li a:hover {
    text-decoration: underline;
}
