.loadout-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px) 100px; 
    gap: 10px; 
    justify-content: center; 
    align-items: center; 
    border-bottom: 1px solid grey;
    padding-top: 70px;
    padding-bottom: 70px;
    grid-template-areas:
    "bag head cape"
    "main body off"
    "potion feet food"
    "reroll mount refresh"
}

.loadout-item {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
}

.loadout-item img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.loadout-item:hover {
    cursor: pointer;
    background-color: gold;
    transition: 0.3s;
}

.locked-item {
    background-color: gold;
    opacity: 0.7;
}

.loadout-page {
    flex-wrap: wrap;
    gap: 20px;
}

.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    z-index: 1000;
    pointer-events: none;
}

.item-name {
    border-bottom: 1px solid black;
}

h5 span {
    font-weight: 700;
}

@media (max-width: 600px) {
    .loadout-page {
        flex-direction: column;
    }
}

#reroll-button img {
    width: 50px;
    padding: 10px;
}

#refresh-button img {
    width: 50px;
    padding: 10px;
}

.info-message {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
    padding-bottom: 150px;
}

#item-bag {
    grid-area: bag;
}

#item-head {
    grid-area: head;
}

#item-cape {
    grid-area: cape;
}

#item-main-hand {
    grid-area: main;
}

#item-body {
    grid-area: body;
}

#item-off-hand {
    grid-area: off;
}

#item-potion {
    grid-area: potion;
}

#item-feet {
    grid-area: feet;
}

#item-food {
    grid-area: food;
}

#item-mount {
    grid-area: mount;
}

#reroll-button {
    grid-area: reroll;
    padding-bottom: 0;
    border: 2px solid black;
    transform: translate(0px, 0px);
}

#refresh-button {
    grid-area: refresh;
    padding-bottom: 0;
    border: 2px solid black;
    transform: translate(2px, 0px);
}